.display-list{
    margin-left: 200px;
    margin-right: 40px;
    margin-top: 13px;
   
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    gap: 30px;
    row-gap: 90px;
  /*   border: 2px solid rgb(0, 123, 255); */

}

.category-item{
    text-align:start;
    margin-left: 208px;
    margin-bottom: 13px;
    margin-top: 13px;
    /* border: 2px solid red; */
   
}

.explore{
  font-size: 1.7rem;
  text-align: center;
  margin-top: 40px ;
  margin-bottom: 15px;
  
}


.filters {
  margin-left: 390px;
  margin-bottom: 13px;
  margin-top: 13px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.filters select,
.filters input {
  padding: 8px;
  font-size: 19px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

.filter-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
}



.filter-icon input {
  padding-left: 30px; 
}

.filter-icon i {
  position: absolute;
  left: 8px;
  font-size: 16px;
  color: #666;
}



.cart-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  background: #ff8504c0;
  border-radius: 50%;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon:hover {
  background: #e57300;
}
